
:root{
    --primary-color: #33FFFF;
    --secondary-color: #040cf5;
    --font-family: Arial, sans-serif;
    --border-radius: 10px;
    --padding-size: 10px;
    --box-shadow:  10px 10px 5px rgb(229, 31, 239);
    --success-color: green;
    --wrong-color: red;
}


body{
    background-color: rgb(19, 110, 238);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 75px;
}

.container{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 500px;

}


.container h2{
    text-align: center;
} 

.container label{
    display: block;
    margin-top: 20px;
}


  /* - `:required` - to visually indicate which fields are mandatory. */
  /* this is a psuedo element that inserts the contect after the label which visually show which */
  /* required fields need filling in */
label.required::after {
    content: "*";
    color: var(--wrong-color);
}


/*  - `:focus` - to highlight inputs when they are active. */
.container input:focus,
.container select:focus {
    box-shadow: var(--box-shadow); 
}

/*  - `:hover` - to enhance the button when the user hovers over it. */
/* button grows x1.5 */
.container button:hover{
    background-color: var(--secondary-color);
    transform: scale(1.5); 
}

/* - `:valid` and `:invalid` - to show different styles based on whether inputs meet certain criteria (e.g., correct email format). */

input:valid,
select:valid{
    border-color: rgb(13, 13, 204);
}

input:invalid,
select:invalid {
    border-color: crimson;
}
