
:root{
    --primary-color: #33FFFF;
    --secondary-color: #f7060e;
    --font-family: Arial, sans-serif;
    --border-radius: 10px;
    --padding-size: 10px;
    --box-shadow:  10px 10px 5px lightblue;
}






body{
    background-color: rgb(19, 110, 238);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 75px;
}

.container{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 500px;

}



.container h2{
    text-align: center;
} 


.container label{
    display: block;
    margin-top: 20px;
}
